.btns Button{
  
    border:1px solid #fafafa;
    background-color:#282c34;
    
  }
  .btns Button:hover{
    border:1px solid #fafafa;
    background-color:white;
    color:black;

  }
#la1{
    margin-top: 10%;
    margin-left: 19%;
}
@media screen and (max-width:560px) {
   #la1{
    margin-left:0%;
    margin-right:1%
   } 

}