.pies{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  h5{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .btns Button{
    border:1px solid #fafafa;
    background-color:#282c34;
    
  }
  .btns Button:hover{
    border:1px solid #fafafa;
    background-color:white;
    color:black;

  }