/* #souter{
    width:100%;
    display:flex;
    color:rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    flex-direction: column;
  } */
  body{
    margin: 0hv;
  }
  .sel{
    display:flex;
    justify-content: space-between;
    justify-content: space-around;
  }
  
  .sbox{
    
    margin-top: 13%;
    padding: 4%;
    width: 75%;
    height: 85%;
    background-color: #edf1f29a;
    border-radius: 25px;
  }
  @media screen and (max-width: 767px) {
    .sbox{
         height: 70%;
    }
  }
  .lgin{
    background-image: url('../public/backg.webp');
  height:100vh;
  width:100%;
  background-repeat: no-repeat;
  background-size: cover;
    height: 100vh;
    width: 100%;
  }
  .lgn{
    display: flex;
    justify-content: center;
  }
  .lgnbox{
    display: flex;
    align-items: center;
  }
  .bgp{
    background-color: rgb(1,1,29) !important;
  }
@media screen and (max-width: 768px) {
  .sbox{
    height: 100%;

  }
}